################################
# Pebble environment variables #
################################

# Phone IP used by `mise install-phone`
IP=192.168.1.100

# Enable extra heap debug logs in Pebble C builds
# ENABLE_MEMORY_LOGGING=1


##################################
# Supabase environment variables #
##################################

# Random secret for hashing identifiers (generate with: openssl rand -hex 32)
TELEMETRY_HASH_SECRET=

# Supabase Edge Function endpoint for telemetry ingestion, if omitted, telemetry is disabled
# TELEMETRY_ENDPOINT=http://127.0.0.1:54321/functions/v1/telemetry-ingest
