.*
!.gitignore
!.travis.yml
build
src/pkjs/dev-config.js
screenshot/*
!screenshot/snowy-red.png
!screenshot/steel-black.png
!screenshot/composite_bw.sh
!screenshot/composite_color.sh
!screenshot/**/
node_modules
