[settings]
experimental = true
lockfile = true

[tools]
# https://developer.rebble.io/sdk/
# https://github.com/coredevices/pebble-tool
# https://mise.jdx.dev/dev-tools/backends/pipx.html
"pipx:pebble-tool" = "5.0.28"

[env]
_.file = ".env"

[tasks.clean]
description = "Clean build artifacts"
run = "pebble clean"

[tasks.build]
description = "Build PBW"
run = "pebble build"
sources = [
  "wscript",
  "package.json",
  "package-lock.json",
  "src/**/*",
  "resources/**/*",
]
outputs = ["build/**/*.pbw"]

[tasks.rebuild]
description = "Clean and rebuild PBW"
run = "pebble clean && pebble build"

[tasks.install-phone]
description = "Build and install on phone"
alias = "install"
depends = ["build"]
usage = '''
arg "<ip>" env="IP" help="Phone IP address"
'''
run = "pebble install --phone ${usage_ip?}"

[tasks.install-emulator]
description = "Build and install on basalt emulator"
depends = ["build"]
run = "pebble install --emulator basalt"
